{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Project/css/style.css' %}"></head>
<body>
        <div class="img">
            <img src="{% static 'Project/img/25off.png' %}" alt="">
        </div>

        <div class="textinfo">
            <h2>Book Your Appointment Now And Get 25% Off</h2>
            <p>Awesome Diwali Sale - 25% Off on All Professional Treatments only ₹ 750</p>
        </div>

        <a href="#">BOOK AN APPOINTMENT</a>
</body>
</html>