{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Project/css/profile.css' %}">
    <link rel="shortcut icon" type="x-icon" href="{% static 'Project/img/logo.webp' %}">

    <title>Seven Star Salon</title>

    
    
</head>

<body>
    {% include 'header.html' %}

    <div class="profile-container">
        <h1>User Profile</h1>
        <div class="profile-content">
            <div class="profile-pic">
                <img src="{% static 'Project/img/avatar_img2.png' %}" alt="Profile Picture">
            </div>
            <div class="profile-info">
                <table>
                    <tr>
                        <td><strong>First Name:</strong></td>
                        <td>{{ request.session.first_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Last Name:</strong></td>
                        <td>{{ request.session.last_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Username:</strong></td>
                        <td>{{ request.session.username }}</td>
                    </tr>
                    <tr>
                        <td><strong>Birthdate:</strong></td>
                        <td>{{ request.session.birthdate }}</td>
                    </tr>
                    <tr>
                        <td><strong>Mobile Number:</strong></td>
                        <td>{{ request.session.mobile }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>{{ request.session.email }}</td>
                    </tr>
                </table>
                <div class="button-container">
                    <a href="{% url 'update' %}" class="btn update-btn">Update User Details</a>
                    <a href="{% url 'delete_user' %}" class="btn delete-btn" onclick="return confirm('Are you sure you want to delete this user?');">Delete User</a>
                </div>
            </div>
        </div>
    </div>
    
    
    
    {% include 'footer.html' %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Check if the URL contains a success parameter
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('success')) {
                alert("User details updated successfully!");
                // Redirect to home page after alert
                window.location.href = "{% url 'index' %}";  // Redirect to home after success
            }
        });
    </script>
</body>

</html>